@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--piggyBankPink: #F2949C;
--pistachioGreen: #C9F2E3;
--lightGreen: #A3D9B0;
--darkGreen: #75BF87;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.leaflet-container {
  width: 700px;
  height: 500px;
  /* min-width: 250px;
  max-height: 500px; */
  border-radius: 14px;
  border: solid 1px gray;
}

@media all and (max-width: 768px) {
  .leaflet-container {
    max-width: 270px;
    height: 300px;
    margin-bottom: 1rem;
  }

  .wrap-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@keyframes loader {
  from {
    rotate: 0
  }

  to {
    rotate: 360
  }
}

.pink {
  background-color: #fca5a5;
}

.green {
  background-color: #A3D9B0;
}

.grey {
  background-color: #99b59f41;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.focus circle {
  fill: none;
  stroke: steelblue;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.green-border {
  border: 2px var(--darkGreen) solid;
}